.picture {
    width: 40%;
    height: 600px;
}

.wrap {
    width: 100%;
}

.title {
    color: dimgray;
    font-size: 30px;
}

.mainBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.infoBox {
    width: 45%;
    margin-left: 20px;
}

h2 {
    color: silver;
}

.btn{
    margin: 15px;
    height: 50px;
    width: 200px;
    background: dimgray;
    border: none;
    border-radius: 5%;
font-family: "Century Gothic";
}