body {
    background: radial-gradient(circle, rgba(112, 102, 102, 1) 33%, rgba(5, 10, 7, 1) 100%);
}


.Mainwrap {
    width: 15%;
    border: 1px solid black;
    margin: 5px;
    box-shadow: 9px 0 10px 3px rgba(0, 0, 0, 0.75);
    position: relative;


}

.average {
    width: 50px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-top: -300px;
    margin-left: 160px;
    background: black;
    opacity: 0.6;
    color: silver;
    font-size: 20px;
}

.picture {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}


.title {
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
    background: #2b303b;
    margin: 0;


}

.btn {
    width: 105%;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 20px;
    font-family: "Times New Roman";
    color: silver;
    cursor: pointer;
    text-align: center;
    position: absolute;
    opacity: 0.8;
    margin-top: -50px;


}