.wrapBox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.btn{
    margin-left: 15px;
    height: 30px;
    width: 150px;
    background: dimgray;
    border: none;
    border-radius: 5%;
    justify-content: center;
}
.btnWrap{
    margin-left: 500px;
}


