.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    color: dimgray;
    font-size: 25px;
    padding: 15px;

}

.Header a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding: 25px;
}
.Header a[class='active']{
    color: antiquewhite;
}
h2{
    text-align: left;
    padding-left: 20px;
}