.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    color: dimgray;
    font-size: 25px;
    padding: 15px;
    border-radius: 2%;

}

.Header a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding: 25px;
}

h2{
    text-align: left;
    padding-left: 20px;
}

.form{
    width: 400px;
    height: 30px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #ddd9d9;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.logo{
    width: 100px;
    height: 100px;
    background: none;
}
.logoBox{
    display: flex;
}


