.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b303b;
    color: dimgray;
    font-size: 25px;
    padding: 15px;
    border-radius: 2%;
    margin-bottom: 30px;

}

.Header a {
    text-decoration: none;
    font-size: 30px;
    color: dimgray;
    padding: 25px;
    font-family: "Baskerville Old Face";

}

h2 {
    text-align: left;
    padding-left: 20px;
}

.form {
    width: 400px;
    height: 30px;
    background: #2b303b;
    border: 1px solid black;

    font-size: 10pt;
    float: left;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.logo {
    width: 100px;
    height: 100px;
    background: none;
    border-radius: 50%;
}

.logoBox {
    display: flex;
}

.userlogo {
    width: 25px;
    height: 25px;
    background: none;
    border-radius: 50%;
}

.userBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: 20px;
}

.btn {
margin-left: 15px;
    height: 30px;
    width: 100px;
    background: dimgray;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}




