.Header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: darkgray;
    color: dimgray;
    font-size: 25px;
    padding: 15px;
}

.btn button{
    margin:10px;
    background-color: dimgray;

}