.mainWrap {
    display: flex;
}

.button {
    justify-content: space-between;
    align-items: center;
    width: 5%;
    height: 35px;
    margin-left:4px;
    background: none;
    font-style: oblique;
    font-size: 12px;
    border: 1px solid black;
    cursor: pointer;


}

.button:focus {
    width: 70px;
    height: 64px;
    color: snow;
}

.button {
    width: 65px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: 1px solid dimgray;
    outline: none;
    transition: 1s ease-in-out;
}
